<%= form_with(model: teacher , local: true) do |form| %>
    <% if teacher.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

        <ul>
            <% teacher.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= form.label :email, class: "form-label"  %>
        <%= form.email_field :email, class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= form.label :tel, class: "form-label"  %>
        <%= form.telephone_field :tel, class: "form-control" %>
    </div>

    <div class="actions">
        <%= form.submit :class => 'btn btn-primary' %>
        <%= link_to 'Back', teachers_path, :class => 'btn btn-secondary' %>
    </div>
<% end %>