<h2>Teachers</h2>
<%= link_to 'Add New Teacher', new_teacher_path, :class => 'btn btn-primary' %>

<p/>

<% if notice %>
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>Success!</strong> <%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>

<p/>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Telephone</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
    <tr>
      <th scope="row"><%= teacher.id %></th>
      <td><%= teacher.name %></td>
      <td><%= teacher.email %></td>
      <td><%= teacher.tel %></td>
      <td align="right"> 
        <%= link_to 'Edit', edit_teacher_path(teacher), :class => 'btn btn-secondary' %> 
        <%= link_to 'Delete', teacher, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %> 
      </td>
      
    </tr>
    <% end %>
  </tbody>
</table>